<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjyyds.product.dao.FavoriteDao">
    <resultMap id="BaseResultMap" type="com.sdjyyds.product.entity.Favorite">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, product_id, created_at
    </sql>
    <insert id="insert" parameterType="com.sdjyyds.product.entity.Favorite">
        INSERT INTO favorites (id,user_id, product_id, created_at) VALUES (#{id},#{userId}, #{productId}, NOW())
    </insert>
    <delete id="delete">
        DELETE FROM favorites WHERE user_id = #{userId} AND product_id = #{productId}
    </delete>
    <select id="findProductIdsByUserId" resultType="java.lang.Long">
        SELECT product_id FROM favorites WHERE user_id = #{userId}
    </select>
    <select id="isFavorited" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0 FROM favorites WHERE user_id = #{userId} AND product_id = #{productId}
    </select>
</mapper>