<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AuditLogMapper">
    <insert id="insert" parameterType="AuditLog">
        INSERT INTO audit_logs (admin_id, target_type, target_id, action, comments, reviewed_at)
        VALUES (#{adminId}, #{targetType}, #{targetId}, #{action}, #{comments}, #{reviewedAt})
    </insert>

    <select id="selectAll" resultType="AuditLog">
        SELECT * FROM audit_logs
    </select>
</mapper>