<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjyyds.order.mapper.OrderMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (id,order_no, user_id, order_time, status, total_price,
                            payment_amount, address_json, remark, created_at, updated_at)
        VALUES (#{id},#{orderNo}, #{userId}, #{orderTime}, #{status}, #{totalPrice},
                #{paymentAmount}, #{addressJson}, #{remark}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="selectById" resultType="Order">
        SELECT * FROM orders WHERE id = #{id}
    </select>
    <update id="updateStatus">
        UPDATE orders SET status = #{status}, updated_at = NOW() WHERE id = #{orderId}
    </update>
</mapper>